.table-column{
    -fx-background-color: #1e1e2f;
    -fx-border-color: #343bb4;
}
.table-view .table-cell {
    -fx-text-fill: white;
}

.container-principal {
    -fx-padding: 20;
}
.label{
    -fx-text-fill: white;
}
.table-view {
    -fx-background-color: #1b1530;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #2d1e5f;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0.3, 0, 6);
}

.table-row-cell:selected {
    -fx-background-color: #4c3aad;
}
.button {
    -fx-background-color: linear-gradient(to right, #5f3dc4, #7048e8);
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 6 14 6 14;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #7048e8, #845ef7);
    -fx-cursor: hand;
}
.button {
    -fx-background-color: linear-gradient(to right, #5f3dc4, #7048e8);
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 6 14 6 14;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #7048e8, #845ef7);
    -fx-cursor: hand;
}